h1{
    font-size: 40px;
}
.experience-area{
    display: flex;
    
}
.partial-color{
    color: blue;
}
.expereince-item{
    box-shadow: 10px 10px 40px yellowgreen;
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    padding: 20px;
}
#fwb{
    border-image:linear-gradient(red,yellowgreen);
    border-left: 7px solid;
    border-image-slice: 1;
}
#bwb{
    border-image:linear-gradient(indigo,yellow);
    border-left: 7px solid;
    border-image-slice: 1; 
}
.experience-banner{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
    
}